body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #000000, #ffffff); */
  background: linear-gradient(to bottom, #2c3e50, #1c2833);

  font-family: Arial, sans-serif;
  color: white;
}

.calculator {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 20px;
}

#result {
  width: 100%;
  font-size: 24px;
  text-align: right;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #555;
}

.operator {
  background-color: #f39c12;
  color: white;
}

.zero {
  grid-column: span 2;
}

.equal {
  background-color: #27ae60;
  color: white;
  grid-column: span 3;
}

button:active {
  transform: scale(0.98);
}
